body {
  margin: 0px;
  font-family: Montserrat;
  background-color: #fafafa;
}


.cite {
  font-style: italic;
  color: grey;
}


.navbar {
  width: 100%;
  padding: 1.55vw;
  position: fixed;
  text-align: center;
  font-size: 1.2vw;
  font-family: 'Julius Sans One', sans-serif !important;
  font-weight: 700;
  z-index: 8;

  .nav_container {
    display: inline-block;
  }

  .navbar_button {
    font-family: 'Julius Sans One', sans-serif;
    cursor: pointer;
    border-radius: 0.1rem;
    margin-right: 2.5rem;
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
  }

  .navbar_button:hover {
    color: rgb(150, 150, 160);
  }
}


header {
  background-color: white;
  padding-top: 3rem;

  .intro {
    width: 60%;
  }

  .carousel {
    display: none;
    width: 40%;
  }

  .cAnimation {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  }
}


@media (max-width: 800px) {
  #section_1_div1 {
    height: auto !important;

    #section_1_bg {
      display: none !important;
    }
    .aboutUs {
      width: 80% !important;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 50px !important;
    }
  }
}

#section_1_div1 {
  opacity: 0;
  text-align: right;
  height: 800px;


  .aboutUs {
    text-align: center;
    display: inline-block;
    width: 40%;
    color: black;
    padding: 12% 10% 0px 1%;
    vertical-align: top;
  }

  #section_1_bg {
    display: inline-block;
    height: 100%;
  }
}

#section_1_div2 {
  opacity: 0;
  text-align: center;
  padding-bottom: 30px;
}


#section_2 {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: left;

  .skills {
    span {
      margin-right: 20px;
    }
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.9vw;
    color: #848484;
  }
}

#section_3 {
  @media (max-width: 800px) {
    #scrollable {
      height: 400px !important;
    }

    #web {
      height: 400px !important;
    }

    #rideshare {
      height: 400px !important;
    }

    #gitapp {
      height: 400px !important;
    }
  }

  #scrollable {
    height: 800px;
    overflow-y: scroll;
  }

  #scrollable::-webkit-scrollbar {
    display: none;
  }

  #scrollable {
  -ms-overflow-style: none;
  }

  #web {
    height: 800px;
    text-align: left;
    background: url("assets/wings.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;

    .date {
      font-family: 'Permanent Marker', cursive;
      font-size: 2.3vw;
      color: #D8495B;
      opacity: 0.78;
    }

    a {
      color: white;
    }

    img {
      width: 100%;
    }
    .webWrapper:hover {
      z-index: 2;
    }

    .webWrapper {
      display: inline-block;
      position: relative;
      max-width: 300px;
      width: 20%;
      border-color: rgb(240, 240, 240);
      border-style: solid;
      cursor: pointer;
      background-color: white;
      padding: 1% 1% 2.6% 1%;
      text-align: left;

      p {
        margin: 1%;
      }
    }

    #web0 {
      transform: rotate(-1deg);
    }

    #web2 {
      transform: rotate(1deg);
    }

  }

  #gitapp {
    height: 800px;
    text-align: center;
    width: 100%;

    .descriptionLeft {
      padding-top: 10%;
      width: 30%;
      text-align: right;
      vertical-align: top;
      display: inline-block;
    }

    .descriptionRight {
      padding-top: 3%;
      width: 30%;
      text-align: left;
      vertical-align: top;
      display: inline-block;
      p {
        font-size: 2.1vw;
        line-height: 2.1vw;
      }
    }
  }

  #rideshare {
    background-color: black;
    height: 800px;
    text-align: center;
    width: 100%;

    .descriptionLeft {
      padding-top: 15%;
      width: 30%;
      text-align: center;
      vertical-align: top;
      display: inline-block;
      p {
        font-size: 3.1vw;
        line-height: 3.5vw;
      }
    }

    .descriptionRight {
      padding-top: 10%;
      width: 30%;
      text-align: left;
      vertical-align: top;
      display: inline-block;
    }
    p {
      color: white;
    }
  }

  p {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }
}

#section_6 {
  padding-top: 20px;
  width: 100%;

  .diy {
    overflow: hidden;
    background: url("assets/112.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    padding-top: 50px;
    position: relative;
    width: 100%;

    .zhimo {
      position: absolute;
    }
    #cb {
      height: 100%;
      top: 0px;
    }
    #xn {
      top: 12%;
      height: 88%;
    }
  }
}


#section_5 {
  height: 730px;
  position: relative;

  h1 {
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1vw;
  }

  .scene {
    width: 45%;
    height: 90%;
    margin: 3% 5% 3% 50%;
    perspective: 1000px;
    position: absolute;
  }

  .book {
    width: 70%;
    height: 83%;
    transform-style: preserve-3d;
  }

  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    transition: 1.5s transform;
    transform-style: preserve-3d;
    transform-origin: left center;

    img {
      width: 90%;
      padding: 2%;
      background-color: white;
    }
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 5% 5%;
    box-sizing: border-box;
    backface-visibility: hidden;
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
    background: linear-gradient(to bottom right, #fff, #ccc);
  }
  .back {
          transform: rotateY(180deg);
        }

  .page.active {
          z-index: 2;
        }
  .page.flipped {
          transform: rotateY(-180deg);
        }
  .page.flipped:last-of-type {
          z-index: 2;
        }

  p {
      margin: 0 0 0.1em;
      text-indent: 1em;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.155vw;
      line-height: 2.3vw;
    }

  .qr {
          margin: 50px auto;
          max-width: 50%;
        }
  .qr img {
          display: block;
        }

  .hobbydesLeft {
    position: relative;
    top: 30%;
    float: left;
    left: 20%;
    width: 25%;
  }
  .hobbydesRight {
    position: relative;
    float: right;
    width: 25%;
    top: 40%;
    right: 20%;
  }
}



.modal_content {
  z-index: 10;
  position: fixed;
  display: none;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}

#section_4 {
  .chuibi {
    padding-bottom: 70px;
    margin: auto;
    text-align: center;
    width: 60%;

    p {
      font-size: 4.7vw;
      line-height: 4.7vw;
    }
  }

  img {
    height: 65px;
  }

  @media (max-width: 800px) {
    img {
      height: 30px;
    }
  }
}


section {
  display: block;
  text-align: center;
  width: 100%;

  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.9vw !important;
    line-height: 3.5vw !important;
  }

  .subtitle {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 2.2vw;
  }

  p {
    color: black;
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
}



footer {
  //position: relative;
  padding-top: 20px;
  height: 86px;
  background-color: black;
  text-align: center;
  .footer_container {
    display: block;
    margin: auto;
    color: white;
    font-family: Montserrat;
    h1 {
      font-weight: 510;
      font-size: 25px;
    }
    p {
      font-weight: 300;
      font-size: 18px;
    }
  }
}



.social_icon {
  cursor: pointer;
  margin: 0rem 0.3rem;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  border: 1.9px solid white;
  border-radius: 50%;
  line-height: 2rem;
  font-size: 18px;
  background: black;
  color: white;
}


.social_icon:hover {
  background: white;
  color: black;
}

.contact_icon {
  display: inline-block;
  font-size: 1.3rem;
  color: black;
  margin-right: 10px;
}

video {
  max-width: 300px;
  width: 80%;
  margin: 0px;
  display: inline-block;
}

.content_container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 23%;
  transform: translate(-50%, -50%);
  border: 1.1px solid #888;
  background: white;
  padding: 1%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;

  .close_button {
    cursor: pointer;
    width: 20%;
    border-radius: 0.6rem;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
  }

  img {
    margin: auto;
    width: 90%;
    padding: 4%;
  }
}
@media (max-width: 800px) {
  .content_container {
      width: 75%;
      padding: 3%;
  }
}
